.error-text {
    color: #ff6d6d;
}

article {
    margin-top: 0 !important;
    padding: 1rem 1.25rem !important;
}

.selected {
    border-bottom: 2px solid !important;
    border-radius: 0 !important;
}

.server-message {
    font-size: 1.25rem;
}

code {
    width: 100%;
}
@media (min-width: 992px) {
    .nav-buttons {
        margin: 0 0 0 auto;
    }
}

img.logo {
    height: 40px;
    width: 40px;
    margin-right: .25rem;
}

[x-cloak] { display: none !important; }
